<div class="container">
  <div class="row">
    <div class="col one">
		<h1>Tour Boi</h1>
		<select id="option-selector">
	        <option value="">Select Destination</option>
	        <option value="Paris FR">Paris</option>
	        <option value="Yellow-Stone US">Yellow Stone</option>
	        <option value="Rome IT">Rome</option>
	        <option value="Tahiti TH">Tahiti</option>
	        <option value="London GB">London</option>
			<option value="">More destinations coming soon!</option>
		</select>
	</div>
    <div class="col">
		<button id="search-button">Checkout Destination!</button>
	</div>
  </div>
</div>